<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>DRIVE Settings</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Driver Name &amp;
Results Email Address</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Me</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Key</key>
			<string>subjectName</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Subject Name</string>
			<key>IsSecure</key>
			<false/>
			<key>AutocapitalizationType</key>
			<string>Words</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>@mmu.ac.uk</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Key</key>
			<string>emailAddress</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Email for Results</string>
			<key>IsSecure</key>
			<false/>
			<key>AutocapitalizationType</key>
			<string>None</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>DRIVE Advanced Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Horn Position X :</string>
			<key>Key</key>
			<string>hornPosX</string>
			<key>DefaultValue</key>
			<string>305</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Horn Position Y :</string>
			<key>Key</key>
			<string>hornPosY</string>
			<key>DefaultValue</key>
			<string>85</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Car Size (0.25-1.00) :</string>
			<key>Key</key>
			<string>carSize</string>
			<key>DefaultValue</key>
			<string>0.80</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Display Info (0-2) :</string>
			<key>Key</key>
			<string>displayMinimum</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Game Physics (0-5) :</string>
			<key>Key</key>
			<string>gamePhysics</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Haz Scale (0.25-1.0) :</string>
			<key>Key</key>
			<string>hazScale</string>
			<key>DefaultValue</key>
			<string>0.60</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>DRIVE Version Information</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version Number :</string>
			<key>Key</key>
			<string>version0</string>
			<key>DefaultValue</key>
			<string>4.0.3  8.1.17</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Copyright:</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Key</key>
			<string>version1</string>
			<key>DefaultValue</key>
			<string>MMU (c) 2017</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Author:</string>
			<key>Key</key>
			<string>version2</string>
			<key>DefaultValue</key>
			<string>j.a.howell@mmu.ac.uk</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Web:</string>
			<key>Key</key>
			<string>version3</string>
			<key>DefaultValue</key>
			<string>http://www.ess.mmu.ac.uk</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>License Information</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements and Licence</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
